@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --color-accent: #83677b;
  --color-accent-dark: #64485c;
  --color-primary-dark: #2e1114;
  --color-primary-light: #501b1d;
  --color-light: #eeeeee;
  
 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  
  font-family: "Lato", sans-serif;
  
}



h1{
  font-size: 2rem;
  color:var(--color-primary-dark);
}

p {
   font-size: 1.6rem;
   color:var(--color-primary-light);
   margin-top: 2rem;
   
}

span {
   font-size: 1.2rem;
}



.button1-primary  {
   border:none;
   padding:1.2rem 3.5rem;
   background-color: var(--color-accent);
   border-radius: 5px;
    
}

.button1-primary:hover{
   background-color: var(--color-accent-dark);
   scale:1.05;
}
.button1-primary a {
   text-decoration: none;
   color:#fff;
   text-transform: uppercase;
}

.button1-secondary {
   border:1px solid var(--color-accent);
   padding:1.1rem 3.3rem;
   background-color: var(--color-light);
   border-radius: 5px;
}

.button1-secondary:hover {
   border:2px solid var(--color-accent);
   scale:1.05;
}
.button1-secondary a {
   text-decoration: none;
   color:var(--color-accent);
   text-transform: uppercase;
   
}

/*--------------------------HERO SECTION----------------*/

.hero-wrapper1{
  
  height: 100%;
  background: linear-gradient(100deg, #eeeeee 50%, #d6cfcf 50%);
}
.hero-wrapper {
  
  height: 50rem;
  padding-left:5rem;
  
}

.logo img {
  height: 5rem;
  width: 15rem;
  
}


.header {
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
 
}

.nav-bars p {
  font-size: 1.2rem;
}

.nav-bar i {
  font-size: 1.3rem;
}
.nav-bars a{
  text-decoration: none;
  color:var(--color-primary-light);
}
.nav-bar1 {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  margin-left: -2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

.shipping>div {
  display: flex;
  margin-right: 4rem;
}

.shipping>div i {
  margin-top: 2.2rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  color:#64485c;
}
.gift-card>div {
  display: flex;
  margin-right: 2rem;
}

.gift-card>div i {
  margin-top: 2.2rem;
  padding-right: 1rem;
  font-size: 1.2rem;
  color:var(--color-accent-dark);
}
.shipping {
  display:flex;
  margin-right: 5rem;
  padding-left: 5rem;
  
}

.gift-card {
  display: flex;
  margin-left: 7rem;
}
.nav-bar {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: space-between;
  
}

.nav-bar>div {
  padding-right: 4.5rem;
}

.links {
  display: flex;;
  margin-left: 3rem;
 
}

.icons {
  display: flex;
}

.form-control{
  margin-right: 1rem;
  border-radius: 10px;
  padding-left: 1rem;
  outline: none;
  border:none;
  width: 15rem;
  font-size: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.icons>div {
  display: flex;
  
}


.icons>div>p>a {
  font-size: 1.2rem;
  
  padding: 0;
}

.links li{
  list-style-type: none;
  padding-right: 3rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.links li a {
  text-decoration: none;
  color:var(--color-primary-dark);
}

.links li a:hover {
  color:var(--color-accent);
  
}
.dropdown {
  overflow: hidden;
  padding-right: 3rem;
  margin-left: -1rem;
  
  
}

.dropdown .dropbtn {
  font-size: 1.2rem;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; 
  text-transform: uppercase;
  color:var(--color-primary-dark);
}

.dropdown .dropbtn:hover {
  color:var(--color-accent);
 
}


.dropdown-content {
  display: none;
  position: absolute;
  min-width: 16rem;
  z-index: 1;
  background-color: #fff;
  
}


.dropdown-content a {
  float: none;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  color:var(--color-primary-dark);
  
}
.dropdown-content a:hover {
  color:var(--color-accent);
} 

.dropdown-content a:hover {
  background-color: var(--color-light);

}

.dropdown:hover .dropdown-content {
  display: block;
  
} 


.icons a {
  font-size: 1.8rem;
  color: var(--color-accent);
  padding-right: 5rem;
  
}



.hero-cta {
 
 margin-top: 8rem;
 display: flex;
 justify-content: space-between;
 margin-left: 3rem;
 
  
}

.hero-cta h1 {
  font-size: 2.5rem;
  color:var(--color-primary-dark);
}

.hero-cta p {
  font-size: 1.6rem;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.hero-cta img {
  width: 70%;
  float:right;
  margin-right: 4.5rem;

}


.hero-img img {
  float: left;
  
  width: 80%;
  height: 33rem;
  margin-top: -10rem;
}
.buttons1 {
  margin-top: 2rem;
}

/* - ==================BENEFITS======================= -- */

.benefits {
  margin: 5rem 0rem;
  display: flex;
  justify-content: space-around;
}


.benefits>div{
  text-align: center;
}
.benefits p{
  padding-bottom: 1rem;
}


/* <!-- ==================LIMITED TIME OFFER=================== --> */

.offer{
  margin:8rem 5rem;
  display: flex;
  justify-content: space-around;
  background-color: #eeeeee;
  padding-bottom: 2rem;
}

.image img {
  width: 30rem;
  height: 20rem;
  margin-top: 3rem;
}



.offer-cta h1 {
  margin-top: 2rem;
  text-transform: uppercase;
}
.price-offer{
  display: flex;
  margin-top: 2rem;
}

.price-offer span {
  font-size: 1.5rem;
 
}

.timer{
  display: flex;
}

.time{
  margin-right: 3rem;
  padding-right: 2rem;
  position: relative;
  
}

.time:not(:last-child):after {
  content: ' ';
  position: absolute;
  background-color: #64485c;
  height: 70%;
  width: 0.2rem;
  top: 1.5rem;
  right:-1rem;
}

.timer p {
  font-size: 1.7rem;
}
.timer span {
  text-transform: uppercase;
}






/* ====================NEW ARRIVALS========= */

.wrapper-newest{
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
}
.newest {
  width: 20rem;
  height: 30rem;
 
}
.newest img {
  width: 15rem;
  height: 25rem; 
  margin-left: 3rem;
  
  

}

.newest>div {
  width: 20rem;
  height: 25rem;
  background-image: linear-gradient(to  bottom ,rgb(235, 235, 235) , rgb(255, 255, 255));
}

.newest-collection img {
  width: 22rem;
  height: 20rem; 
  background-image: linear-gradient(to  bottom ,rgb(235, 235, 235) , rgb(255, 255, 255));

}



.newest h2 {
  text-transform: uppercase;
  padding: 0.5rem;
  font-size: 1.2rem;
  color:var(--color-primary-light);
}

.newest span {
 color:var(--color-accent-dark);
 font-weight: bold;
 padding: 0.5rem;
}

.newest p {
  font-size: 1.4rem;
  padding: 0.5rem;
  color:black;
}

.newest h3 {
  padding: 0.5rem;
  color:var(--color-primary-dark);
}



/* ===============BANNER ======================= - */

.banner-wrapper {
  margin-top: 15rem;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: space-around;
  background-color: var(--color-light);
  padding-top: 3rem;
}

#background{
  position:absolute;
  z-index:1;
  display:block;
  min-height:50%; 
  min-width:50%;
  color:yellow;
  
}

#bg-text
{
    margin-left: -70rem;
    margin-top: 46rem;
    color:lightgrey;
    font-size:100px;
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

#banner-cta{
  position:absolute;
  z-index:10;
  
}

.banner-cta {
  margin-left: 20rem;
  margin-top: 1rem;
}

.banner-img img {
  height: 20rem;
  margin-top: -3rem;
  margin-right: -6rem;
  
}


/* -- ==================MOST POPULAR=======================  */




.wrapper-popular {
  
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 10rem;
}





/* -- ==================LATEST NEWS ======================= */
.latest-news{
 
  margin-top: 7rem;
}

.latest-news h1 {
  padding-bottom: 3rem;
  margin-left: 4.5rem;
}
.news-articles {
  display: flex;
  justify-content: space-around;
}

.news-articles img {
  width: 22rem;
  height:27rem ;
  clip-path: polygon(100% 11%, 90% 21%, 100% 30%, 100% 100%, 80% 100%, 0 100%, 0 0, 100% 0);
  
}

.article {
  display: flex;
  
}


.news-info {
  padding-top: 1rem;
  padding-left: 2rem;
  
}

.news-info h2 {
  font-size: 1.7rem;
  
}

.news-info p{
  width: 19rem;
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color:var(--color-text);
  line-height: 1.6;
  margin-top: 1rem;
} 



/* - ==================PHOTO GRID for men ================  -- */

.wrapper-photos {
  margin-top: 8rem;
}

.wrapper-photos h1 {
  text-align: center;
  text-transform: uppercase;
}
.wrapper{
  display:grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-auto-rows:minmax(120px, auto);
  grid-gap:1em;
  justify-items:stretch;
  align-items:stretch;
  margin:5rem 10rem;
  
  
}


.box1{
  
  grid-column:1/3;
  grid-row:1/3;
  display: flex;
  
}

.box1 img {
  margin-left: 10rem;
  height: 20rem;
}
.i-1 {
  margin-top: 10rem;
  
}

.box2{

  grid-column:3;
  grid-row:1/3;
}

.box2 img {
  height: 15rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
}

.i-2{
  margin-left: 4rem;
}

.box3{
  
  grid-column:2/4;
  grid-row:3;
  display: flex;
}

.box3 img {
  width: 30rem;
  height: 12rem;
  margin-bottom: 2rem;
  margin-left: 8rem;
  margin-top: 2rem;
}

.i-3{
  margin-left: 4rem;
  margin-top: 2rem;
}
.box4{
  grid-column:1;
  grid-row:2/4;
  
}

.box4 img {
  width: 15rem;
  height: 15rem;
  margin-top: 3rem;
  margin-left: 2rem;
}

.i-4{
  margin-left: 3rem;
  margin-top: 2rem;
}

.photo-info span {
  font-size: 0.9rem;
  font-weight: bold;
  color:var(--color-accent-dark);
  text-transform: uppercase;
  background-color:#793f68;
  color:white;
  padding: 0.3rem 0.6rem;
  
}

.photo-info p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.photo-info a {
  font-size: 1.1rem;
  text-decoration: none;
  border-bottom: 3px solid var(--color-accent-dark);
  padding-bottom: 0.5rem;
  color: #5e1f4c;
  text-transform: uppercase;
  
}




/* - ==================PHOTO GRID women ================  -- */

.wrapper-photos {
  margin-top: 8rem;
}

.wrapper-photos h1 {
  text-align: center;
  text-transform: uppercase;
}
.wrapper{
  display:grid;
  grid-template-columns:1fr 2fr 1fr;
  grid-auto-rows:minmax(200px, auto);
  grid-gap:1em;
  justify-items:stretch;
  align-items:stretch;
  margin:5rem 10rem;
}

.wrapper > div{
  background:#eee;
  padding:1em;
}

.box-w1{
  
  grid-column:1/3;
  grid-row:1/3;
  display: flex;
}

.box-w1 img {
  width: 16rem;
  height: 16rem;
  margin-top: 5rem;
  margin-right: 3rem;
  margin-left: 2rem;
}

.w-2 {
  margin-top: 8rem;
}

.box-w2{
 
  grid-column:3;
  grid-row:1/3;
  
}

.box-w2 img {
  height: 15rem;
  margin-left: 3rem;
  margin-top: 2rem;
  
  
}

.w-1 {
  margin-top: 1rem;
  margin-left: 5rem;
  
}

.box-w3{
  
  grid-column:2/4;
  grid-row:3;
  display: flex;
  
}

.box-w3 img {
  width: 15rem;
  height: 15rem;
  margin-left: 3rem;
}

.w-3{
margin-top: 2rem;
margin-left: 7rem;
margin-bottom: 2rem;
}

.box-w4{
  grid-column:1;
  grid-row:3/4;
  
}

.box-w4 img {
  width: 15rem;
  height: 15rem;
  margin-left: 2rem;
}

.w-4{
  margin-top: 2rem;
  margin-left: 5rem;
}

.box-w5{
  grid-column:3;
  grid-row:2/4;
  height: 27rem;
  margin-top: 16rem;
}

.box-w4 img {
  width: 15rem;
  height: 15rem;
}

.box-w5 img {
  width: 12rem;
  height: 12rem;
  margin-top: 3rem;
  margin-left: 3rem;
}
.w-5 {
  margin-left: 5rem;
  margin-top: 2rem;
}


/*---------------------TESTIMONIALS-------------------------*/


.wrapper-testimonials h1{
  text-align: center;
  margin-top: 10rem;
  text-transform: uppercase;
  
}



.testimonials {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  
}


.testimonials-container{
  margin-top: 4rem;
  height: 28rem;
  box-shadow: 0.2rem 0.2rem 1rem 1rem rgb(238, 229, 229);

}

.testimonials-container p{
  
  line-height: 2.5rem;
  margin-top: 2rem;
  margin-left: 5rem;
  width: 50rem;
}

.personal{
  display: flex;
  margin-left: 22rem;
  margin-top: 3rem;
}

.personal img {
  width: 7rem;
  height: 6rem;
  padding-right: 2rem;
  border-radius: 50%;
}

.personal-info h3 {
  color:var(--color-primary-dark);
  font-size: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.personal-info span {
  color:var(--color-primary-light);
  text-transform: uppercase;
  font-size: 1rem;
  
}


/*----------slider-------------*/

.slideshow-container { 
  padding-right: 10rem;
  position: relative;    
  width: 55rem;
  height: 50rem;
  
}
  
.arows {
  width: 70rem;
}  
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  width: auto;
  color: var(--color-accent-dark);
  font-weight: bold;
  font-size: 4.2rem;
  transition: 0.6s ease;
  border-radius: 0 0.3rem 0.3rem 0;
  user-select: none;
  

  
}
.prev {
  margin-left: 20rem;
}

.next {
  right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
  margin-right: 20rem;
  
}

.numbertext {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.numbertext i {
  color:#afa2ab;
  font-size: 4rem;
  margin-top: 5rem;
  margin-left: 5rem;
}


